* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1rem;
    
}

h1 {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #271aac;
}

body {
    background-image: url(img/fondo.png);
    min-height: 50vh;
    background-color: beige;
    display: grid;
    place-items: center;
    border-radius: solid 2px;
    padding: 4rem;

}

.calculadora {
    
    display: grid;
    grid-template-columns: repeat(4, 100px);
    background-color: #271aac;
    padding: 1rem;
    border-radius: 32px;
    gap: 0.2rem;
    
}

.pantalla {
    grid-column: 1 / -1;
    background-color: whitesmoke;
    padding: 1rem 1rem;
    font-size: 2rem;
    text-align: right;
    margin-bottom: 1rem;
    font-weight: bold;
    border-radius: 10px;
    
}

.btnnumber, .operator, .btn, .btneraser {
    background-color: lightslategray;;
    color: white;
    border: solid 3px gray;
    padding: 1rem .5rem;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnnumber:hover {
    background-color: royalblue;
}

#cero {
    grid-column: 1 / 3;

}
#cero:hover {
    background-color: yellow;
    
}
.btneraser{
    grid-column: 2 / 4;
}


#igual {
    background-color: greenyellow;
}

#igual {
    grid-row: span 1;
}
#igual:hover {
    background-color: royalblue;
}

#punto:hover {
    background-color: lightsalmon;
}

#c:hover, #borrar:hover {
    background-color:lightgrey;
}
.operator {
    background-color: lightsalmon;
}

.operator:hover {
    background-color: violet;
}